
  .backgound{
    background-color: gray;
  }
    .view{
    background-color: gray;
}
.view ul{
  display: flex;
  list-style-type: none; /* Quita los puntos */
  padding: 0;
  background-color: rgb(87, 86, 86); /*color de fondo para la lista*/
}


.view ul li {
  margin: 0  20px; /* Añade espacio entre elementos */
  padding: 6px;
  }

  .view ul li a {
    text-decoration: none; /*elimina las lineas de los links*/
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
  }
 
  .contenedor-equipo {
  display: flex;         /* Activa el modo flexible */
  align-items: center;   /* Centra los elementos verticalmente uno respecto al otro */
  gap: 20px;             /* Añade espacio entre la imagen y el texto */
}

.columna-imagen img {
 max-width: 200%;       /* Asegura que la imagen no se desborde */
  height: auto;
}

.columna-texto {
  flex: 1;               /* Hace que el texto tome el espacio restante */
}
  .view ul :hover{
    color: darkblue;
  }
 .view ul li{ 
   
    transition: transform 0.1s;
   
  }


.view ul li:hover{
    transform: scale(1.1);
    }

